.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 400px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .ck.ck-editor__editable:not(.ck-editor__nested-editable) p {
    margin: 0;
  }